<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>riceServeryApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A974282C1D04888100FDC630</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A97428421D04888200FDC630</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A974284D1D04888200FDC630</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
